* {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    text-align: center;
  }

  .userselects {
    margin-bottom: 20px;
  }

  .white-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
